In [1]:
import pandas as pd

In [2]:
datas = pd.read_csv('crypto_data/crypto_data/LTC-USD.csv',names = ["times", "low", "high","open","close","volume" ])

In [3]:
datas.head()

        times        low       high       open      close      volume
0  1528968660  96.580002  96.589996  96.589996  96.580002    9.647200
1  1528968720  96.449997  96.669998  96.589996  96.660004  314.387024
2  1528968780  96.470001  96.570000  96.570000  96.570000   77.129799
3  1528968840  96.449997  96.570000  96.570000  96.500000    7.216067
4  1528968900  96.279999  96.540001  96.500000  96.389999  524.539978

In [4]:
ratios = ["BTC-USD", "LTC-USD", "ETH-USD","BCH-USD"]
SEQ_LEN = 60
FUTURE_PERIOD_PREDICT = 3 
RATIO_TO_PREDICT = "LTC-USD"

def classify(current, future):
    if  float(future) > float(current):
        return 1 
    else :
        return 0

main_df = pd.DataFrame()
for ratio in ratios : 
    dataset = f"crypto_data/crypto_data/{ratio}.csv"
    df = pd.read_csv(dataset, names = ["time", "low", "high", "open", "close", "volume"])
    df.rename(columns={"close":f"{ratio}_close", "volume": f"{ratio}_volume"}, inplace=True)
    df.set_index("time", inplace=True)
    df = df[[f"{ratio}_close",f"{ratio}_volume"]]
    if len(main_df) == 0 :
        main_df = df
    else : 
        main_df = main_df.join(df)
main_df['future'] = main_df[[f"{RATIO_TO_PREDICT}_close"]].shift(-FUTURE_PERIOD_PREDICT)
main_df['target'] = list(map(classify, main_df[f"{RATIO_TO_PREDICT}_close"], main_df["future"]))
print (main_df[[f"{RATIO_TO_PREDICT}_close","future", "target"]].head())

            LTC-USD_close     future  target
time
1528968660      96.580002  96.500000       0
1528968720      96.660004  96.389999       0
1528968780      96.570000  96.519997       0
1528968840      96.500000  96.440002       0
1528968900      96.389999  96.470001       1

In [5]:
times = sorted(main_df.index.values)

In [6]:
last_5pct = times[int(0.05*len(times))]
print(last_5pct)

1529262360

In [7]:
validation_main_df = main_df[(main_df.index >= last_5pct)]
main_df = main_df[(main_df.index < last_5pct)]

In [11]:
import sklearn
from sklearn import preprocessing

In [12]:
def preprocess_df(df):
    df = df.drop('future', 1)
    for col in df.columns : 
        if col != "target":
            df[col] = df[col].pct_change() #On analyse les variations et non les valeurs en elle mÃªme 
            df.dropna(inplace = True)
            df[col] = preprocessing.scale(df[col].values
                                         
                                         
                                         )